<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.adamkiss.alfred-noteplan-fts</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>053FDDB4-A265-4274-8F91-1BE7C16BC397</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>748CC6DD-431D-47CA-B2A7-F54387FE69FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>238705F6-1A1A-4524-A61A-7CA8E4444EBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8485925-DE79-4D3D-90F8-7BA374A5DCC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2A17AE8C-9458-4EA2-B049-F11C8621BD32</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32184673-6E45-4E1E-A9A3-5E277249F059</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>32184673-6E45-4E1E-A9A3-5E277249F059</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7234EA6-7AE9-4354-9CEC-95A19238A3FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>583FB278-5756-4AC2-A2BB-EA55CED6B10F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A17AE8C-9458-4EA2-B049-F11C8621BD32</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>748CC6DD-431D-47CA-B2A7-F54387FE69FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>238705F6-1A1A-4524-A61A-7CA8E4444EBA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FA26312F-4035-4B5D-A0AD-B1E785BCC8F6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A0AE8413-940E-4230-B20F-7674D6C73E58</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>879E5864-FF1A-4A6F-BAAE-85EDD2A45986</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32184673-6E45-4E1E-A9A3-5E277249F059</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0AE8413-940E-4230-B20F-7674D6C73E58</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7234EA6-7AE9-4354-9CEC-95A19238A3FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AA6497CD-E68A-46E3-AEDA-366F1B43E33D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>879E5864-FF1A-4A6F-BAAE-85EDD2A45986</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Adam Kiss</string>
	<key>description</key>
	<string>Full text search for Noteplan, shortcuts for note creation, and other usefule Noteplan stuff</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Noteplan FTS + Creation</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Noteplan FTS: Re-caching</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D8485925-DE79-4D3D-90F8-7BA374A5DCC0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>{query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>238705F6-1A1A-4524-A61A-7CA8E4444EBA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>jsn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Looking for {query}</string>
				<key>script</key>
				<string>if [ "$user_arch" = "1" ]; then
	BIN="./alfred-noteplan-fts-arm64"
else
	BIN="./alfred-noteplan-fts-x64"
fi

$BIN "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Full-text search for Noteplan</string>
				<key>title</key>
				<string>Noteplan FTS</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>053FDDB4-A265-4274-8F91-1BE7C16BC397</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>--refresh</string>
						<key>outputlabel</key>
						<string>Refresh</string>
						<key>uid</key>
						<string>FA26312F-4035-4B5D-A0AD-B1E785BCC8F6</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Search</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>748CC6DD-431D-47CA-B2A7-F54387FE69FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E7234EA6-7AE9-4354-9CEC-95A19238A3FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^noteplan://</string>
						<key>outputlabel</key>
						<string>Existing</string>
						<key>uid</key>
						<string>AA6497CD-E68A-46E3-AEDA-366F1B43E33D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Create</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A0AE8413-940E-4230-B20F-7674D6C73E58</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>newquery</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>879E5864-FF1A-4A6F-BAAE-85EDD2A45986</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:newquery}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Listing folders…</string>
				<key>script</key>
				<string>if [ "$user_arch" = "1" ]; then
	BIN="./alfred-noteplan-fts-arm64"
else
	BIN="./alfred-noteplan-fts-x64"
fi

$BIN "${newquery}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Will create a new note in selected folder</string>
				<key>title</key>
				<string>Create note "{var:newquery}"</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>32184673-6E45-4E1E-A9A3-5E277249F059</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>jsnn</string>
				<key>subtext</key>
				<string>Create a note named "{query}"</string>
				<key>text</key>
				<string>Create a note</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>583FB278-5756-4AC2-A2BB-EA55CED6B10F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>newquery</key>
					<string>New: {query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2A17AE8C-9458-4EA2-B049-F11C8621BD32</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Noteplan FTS &amp; Note creation for Alfred

- write a readme.</string>
	<key>uidata</key>
	<dict>
		<key>053FDDB4-A265-4274-8F91-1BE7C16BC397</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>SEARCH/CREATE</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>238705F6-1A1A-4524-A61A-7CA8E4444EBA</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>call the refresh script</string>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>2A17AE8C-9458-4EA2-B049-F11C8621BD32</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>Set newquery to "New: {query}"</string>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>32184673-6E45-4E1E-A9A3-5E277249F059</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>583FB278-5756-4AC2-A2BB-EA55CED6B10F</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>CREATE</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>748CC6DD-431D-47CA-B2A7-F54387FE69FC</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>879E5864-FF1A-4A6F-BAAE-85EDD2A45986</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>query → newquery</string>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>A0AE8413-940E-4230-B20F-7674D6C73E58</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>match /^noteplan:/// - it's callback for existing note, otherwise it's a title</string>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>D8485925-DE79-4D3D-90F8-7BA374A5DCC0</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>E7234EA6-7AE9-4354-9CEC-95A19238A3FC</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Opens a callback</string>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Library/Containers/co.noteplan.NotePlan-setapp/Data/Library/Application Support/co.noteplan.NotePlan-setapp</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>This is where the folder of your Noteplan library, so this workflow can find the Cache database, and link to the matched notes for quicklookurl.</string>
			<key>label</key>
			<string>Noteplan Data Root</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>user_np_root</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>This is an m1 or m2 system</string>
			</dict>
			<key>description</key>
			<string>If it's m1 (or m2), check this box. If it's an older Intel based Mac, leave it unchecked. This will make the workflow pick correct runtime</string>
			<key>label</key>
			<string>Your computer's architecture</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>user_arch</string>
		</dict>
	</array>
	<key>version</key>
	<string>2.0.0-rc1</string>
	<key>webaddress</key>
	<string>https://adamkiss.com</string>
</dict>
</plist>
