# hihihi
.DS_Store

# Files and directories created by pub.
.dart_tool/
.packages

# Workflow build data
workflow/refresh-arm64

# My workflow data
workflow/prefs.plist
workflow/alfred-noteplan-fts-*
workflow/database.sqlite*

# ignore database
database.sqlite3