# hihihi
.DS_Store

# Files and directories created by pub.
.dart_tool/
.packages

# Backup
info.plist.bak
/plist.txt

# Workflow my & build data
workflow/noteplan_fts-*
workflow/prefs.plist
workflow/database.sqlite*

# ignore database
database.sqlite3

# DIST
workflow/LICENSES
/alfred-noteplan*