# hihihi
.DS_Store

# Files and directories created by pub.
.dart_tool/
.packages

# Backup
info.plist.bak

# Workflow build data
workflow/noteplan_fts-*

# My workflow data
workflow/prefs.plist
workflow/alfred-noteplan-fts-*
workflow/database.sqlite*

# ignore database
database.sqlite3