<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.adamkiss.alfred-noteplan</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>04E80ED4-9863-46BE-A7C9-47FC4E99F469</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1186B4CE-C58A-4A3A-9F74-21F4ACADBB0C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>053FDDB4-A265-4274-8F91-1BE7C16BC397</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7234EA6-7AE9-4354-9CEC-95A19238A3FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>238705F6-1A1A-4524-A61A-7CA8E4444EBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8485925-DE79-4D3D-90F8-7BA374A5DCC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>388C508E-7916-4470-8FB3-5C23695779EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0A39761-380A-48D6-ACD2-CA5A2E49C763</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3ACAFEC9-7F1E-4255-BB7F-C849D435D337</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2BC81E6-B1A6-4A9D-9C93-9E9B6C68C67A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>749732A0-D671-40CD-BC58-44565ADA5FEF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>238705F6-1A1A-4524-A61A-7CA8E4444EBA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Adam Kiss</string>
	<key>description</key>
	<string>Full text search for Noteplan, shortcuts for note creation, and other usefule Noteplan stuff</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Noteplan FTS + Creation</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>n</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Looking for {query}</string>
				<key>script</key>
				<string>export PATH="/opt/homebrew/bin:/usr/local/bin:${PATH}"
php run-search-sqlite.php "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Full-text search for Noteplan</string>
				<key>title</key>
				<string>Noteplan FTS</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>053FDDB4-A265-4274-8F91-1BE7C16BC397</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E7234EA6-7AE9-4354-9CEC-95A19238A3FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Noteplan FTS: Re-caching</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D8485925-DE79-4D3D-90F8-7BA374A5DCC0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nref</string>
				<key>subtext</key>
				<string>Refresh SQLite cache with noteplan data</string>
				<key>text</key>
				<string>Noteplan: refresh cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>749732A0-D671-40CD-BC58-44565ADA5FEF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH="/opt/homebrew/bin:/usr/local/bin:${PATH}"
php run-cache-sqlite.php</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>238705F6-1A1A-4524-A61A-7CA8E4444EBA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>nrg</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Looking for {query}</string>
				<key>script</key>
				<string>export PATH="/opt/homebrew/bin:/usr/local/bin:${PATH}"
php run-search-ripgrep.php "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>ripgrep search for Noteplan</string>
				<key>title</key>
				<string>Noteplan RG</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>388C508E-7916-4470-8FB3-5C23695779EA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D0A39761-380A-48D6-ACD2-CA5A2E49C763</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D2BC81E6-B1A6-4A9D-9C93-9E9B6C68C67A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>nsql</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Looking for {query}</string>
				<key>script</key>
				<string>export PATH="/opt/homebrew/bin:/usr/local/bin:${PATH}"
php run-search-sqlite.php "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>SQLute search for Noteplan</string>
				<key>title</key>
				<string>Noteplan SQLite</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3ACAFEC9-7F1E-4255-BB7F-C849D435D337</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1186B4CE-C58A-4A3A-9F74-21F4ACADBB0C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>njs</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Looking for {query}</string>
				<key>script</key>
				<string>/usr/local/bin/node nodejs/search.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Full text search with Node JS</string>
				<key>title</key>
				<string>Noteplan NodeJS</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>04E80ED4-9863-46BE-A7C9-47FC4E99F469</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>04E80ED4-9863-46BE-A7C9-47FC4E99F469</key>
		<dict>
			<key>xpos</key>
			<integer>135</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>053FDDB4-A265-4274-8F91-1BE7C16BC397</key>
		<dict>
			<key>xpos</key>
			<integer>135</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>1186B4CE-C58A-4A3A-9F74-21F4ACADBB0C</key>
		<dict>
			<key>xpos</key>
			<integer>355</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>238705F6-1A1A-4524-A61A-7CA8E4444EBA</key>
		<dict>
			<key>xpos</key>
			<integer>355</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>388C508E-7916-4470-8FB3-5C23695779EA</key>
		<dict>
			<key>xpos</key>
			<integer>135</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>3ACAFEC9-7F1E-4255-BB7F-C849D435D337</key>
		<dict>
			<key>xpos</key>
			<integer>135</integer>
			<key>ypos</key>
			<integer>585</integer>
		</dict>
		<key>749732A0-D671-40CD-BC58-44565ADA5FEF</key>
		<dict>
			<key>xpos</key>
			<integer>135</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>D0A39761-380A-48D6-ACD2-CA5A2E49C763</key>
		<dict>
			<key>xpos</key>
			<integer>355</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>D2BC81E6-B1A6-4A9D-9C93-9E9B6C68C67A</key>
		<dict>
			<key>xpos</key>
			<integer>355</integer>
			<key>ypos</key>
			<integer>585</integer>
		</dict>
		<key>D8485925-DE79-4D3D-90F8-7BA374A5DCC0</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>E7234EA6-7AE9-4354-9CEC-95A19238A3FC</key>
		<dict>
			<key>xpos</key>
			<integer>355</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://adamkiss.com</string>
</dict>
</plist>
